
.alert-one {
    margin: 10px 0px;
    position: relative;
    width: 545px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 36px 40px;
  
    &__close {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  
    &__container {
      display: flex;
    }
  
    &__icon {
      margin: 0px 24px 0px 0px;
    }
  }
  
  .alert-two {
    position: relative;
    width: 545px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 24px 44px 24px 24px;
  }